@charset "UTF-8";

/* 
Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/


/* Versão para tablet */
@media screen and (min-width: 768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to right, #b88b38, #6127c4 );
        font-size: 1.3em;
    }

    h1{
        font-size: 30px;
    }
    section#login{
        width: 768px;
    }

    section#login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
        margin-right: 10px;
    }

    sectio#login > #formulario{
        float: right;
        width: 70%;
    }

    #formulario-us-pas{
        margin-top: 50px;
    }

    #formulario-us-pas label{
        font-size: 15px;
    }

    #formulario-us-pas input{
        background-color: transparent;
    }

    #formulario-us-pas > #email, #senha{
        width: 350px;
        padding: 5px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #340450;
    }

    #formulario-us-pas > #botao{
        width: 100px;
        padding: 7px;
        font-size: 1em;
        margin-top: 20px;
        background-image: linear-gradient(to right, #b88b38, #6127c4 );
        color: #ffff;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #00000093;
    }

    #formulario-us-pas > #botao:hover{
        cursor: pointer;
    }

    span{
        font-size: 12px;
        padding-left: 10px; 
    }

    span a{
        text-decoration: none;
    }
}

/* Versão para desktop */

@media screen and (min-width:990px) {
    body{
        background-image: linear-gradient(to right, #b88b38, #6127c4 );
        font-size: 1.5em;
    }

    h1{
        font-size: 30px;
        margin:10px 0px;
    }

    p{
        font-size: 15px;
    }

    section#login{
        width: 990px;
    }

    section#login > #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > #formulario{
        float: right;
        width: 50%;
    }

    #formulario-us-pas{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #formulario-us-pas label{
        font-size: 15px;
    }

    #formulario-us-pas input{
        background-color: transparent;
    }

    #formulario-us-pas > #email, #senha{
        width: 350px;
        padding: 5px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #340450;
    }

    #formulario-us-pas > #botao{
        width: 100px;
        padding: 7px;
        margin-top: 20px;
        background-image: linear-gradient(to right, #b88b38, #6127c4 );
        color: #ffff;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #00000093;
    }

    #formulario-us-pas > #botao:hover{
        cursor: pointer;
    }

    span{
        font-size: 12px;
        padding-left: 10px; 
    }

    span a{
        text-decoration: none;
    }
    
}