@charset "UTF-8";

/* 
    Paletas de cores:
    #3C187A
    #4D337A
    #6127C4
    #7A31F7
    #AA7CF9
*/

/* Esta versão será para telas de celulares */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,html {
    background-color:#6127C4;
    height: 100vh;
    width: 100vw;
    font-size: 12px;
}

/* Corpo */
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* Seção Login */
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px #ffff003d;

    background-color: #ffffff;
    width: 300px;
    height: 530px;
    border-radius: 10px;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

/******* Imagem ******/
section#login > #imagem{
    background: #6127C4 url(../imagens/pexels-mihai-vlasceanu-1400249.jpg);
    height: 200px;
    background-size: cover;
    background-position: bottom left;
    display: block;
}

/******* Formulário *********/
section#login > #formulario{
    display: block;
    padding: 10px;
}

#formulario-us-pas{
    margin-top: 20px;
}

#formulario-us-pas label{
    font-size: 12px;
}

#formulario-us-pas input{
    background-color: transparent;
    
}

#formulario-us-pas > #email, #senha{
    width: 90%;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #340450;
}

#formulario-us-pas > #botao{
    width: 100px;
    padding: 7px;
    margin-top: 20px;
    background-color: #6127c4;
    color: #ffff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #00000093;
}

#formulario-us-pas > #botao:hover{
    background-color: #551db6;
    cursor: pointer;
}

.span{
    font-size: 10px;
    margin-top: 12px;
}

span a{
    text-decoration: none;
}



