@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


/* 
    Paletas de cores:
    #3C187A
    #4D337A
    #6127C4
    #7A31F7
    #AA7CF9
*/

*{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;  
}

main{
    border: 1px solid black;
    display: block;
    max-width: 550px;
    height: 400px;
    margin: 100px auto;
}




